<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true"
		 version="3.0">
	<display-name>idmu-war</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Initialize</servlet-name>
		<servlet-class>com.ibm.util.merge.web.InitializeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Initialize</servlet-name>
		<url-pattern>/Initialize</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RestServlet</servlet-name>
		<servlet-class>com.ibm.util.merge.web.RestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestServlet</servlet-name>
		<url-pattern>/idmu/*</url-pattern>
	</servlet-mapping>
	<!--<servlet>-->
		<!--<servlet-name>CatchAll</servlet-name>-->
		<!--<servlet-class>com.ibm.util.merge.web.CatchAllServlet</servlet-class>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>CatchAll</servlet-name>-->
		<!--<url-pattern>/*</url-pattern>-->
	<!--</servlet-mapping>-->

</web-app>
