@CHARSET "UTF-8";

table.validationTable {
	width: 25%;
}
td {
	valign: top;	
}

table.codesDType tr td:first-child { text-align: center; } 
table.codesDType tr td:first-child:before { content: "\f096"; /* fa-square-o */ font-family: FontAwesome; } 
table.codesDType tr.selected td:first-child:before { content: "\f046"; /* fa-check-square-o */ } 
table.codesDType tr td.dataTables_empty:first-child:before { content: ""; }
